.loadMoreWrapper {
  --ball-size: var(--load-more-ball-size, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(var(--ball-size) * 2);
  font-size: 14px;
  gap: 8px;
}

.loadMoreLoading {
  display: inline-grid;
  grid-template-columns: repeat(3, var(--ball-size));
  column-gap: calc(var(--ball-size) / 2);
}

.loadMoreBall {
  width: var(--ball-size);
  height: var(--ball-size);
  background-color: var(--load-more-ball-color, #494949);
  border-radius: 50%;
  transform: scale(0.6);
  animation: load-more-scale 0.6s linear var(--delay) infinite alternate;
}

@keyframes load-more-scale {
  to {
    transform: scale(1.2);
  }
}
