.loadMoreWrapper {
  --ball-size: var(--load-more-ball-size, 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(var(--ball-size) * 2);
  padding: 12px 16px;
  font-size: 14px;
  gap: 8px;
}

.loadMoreLoading {
  display: inline-grid;
  grid-template-columns: repeat(3, var(--ball-size));
  column-gap: calc(var(--ball-size) / 2);
}

.loadMoreBall {
  width: var(--ball-size);
  height: var(--ball-size);
  background-color: var(--load-more-ball-color, #494949);
  border-radius: 50%;
  animation: load-more-scale 0.8s linear infinite;
}

@keyframes load-more-scale {
  16.66% {
    transform: scale(var(--s1, 0.7));
  }
  33.32%,
  66.64%,
  100% {
    transform: scale(0.7);
  }
  49.98% {
    transform: scale(var(--s2, 0.7));
  }
  83.3% {
    transform: scale(var(--s3, 0.7));
  }
}
